<a [routerLink]="['/posts/new']" class="waves-effect waves-light btn indigo lighten-1"><i class="material-icons left">add</i>new</a>


<table class="bordered striped highlight">
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>
        <a [routerLink]="['/post', post.id]" class="black-text">{{ post.title }}</a>
      </td>
      <td class="no-padding">
        <a [routerLink]="['/post', post.id, 'edit']" class="waves-effect waves-light btn indigo lighten-1"><i class="material-icons left">edit</i>edit</a>
        <a [routerLink]="['/post', post.id, 'delete']"class="waves-effect waves-light btn red"><i class="material-icons left">delete</i>delete</a>
      </td>
    </tr>
  </tbody>
</table>
