<h3>Create Post</h3>

<form class="col s12" (submit)="save()">
  <div class="row">
    <div class="input-field col s6">
      <input [(ngModel)]="post.title" placeholder="Title" name="inputTitle" type="text" class="validate">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea [(ngModel)]="post.body" placeholder="Body" name="inputBody" class="materialize-textarea"></textarea>
    </div>
  </div>
  <a (click)="back()" class="btn waves-effect waves-light red">Cancel
    <i class="material-icons left">cancel</i>
  </a>
  <button class="btn waves-effect waves-light indigo" type="submit" name="action">Save
    <i class="material-icons right">send</i>
  </button>
</form>
